

body {
  width: 300px;
  height: 300px;
  background: #aaa;
  color: #333;
  font-size: 16px;
  font-family: 'Fira Sans', Verdana, sans-serif;
  font-weight: 400;
}

#card {
  padding: 5px;  background: #fff;   border-radius: 5px;  box-shadow: 2px 2px 10px #ccc, -1px -1px 10px #ccc;
}


ul {
  list-style: none;
}

a {
  color: #00855b;
}

img {
    height: 110px;
    border-right: 3px solid #222;
}
