/*!
Theme Name:   Modern Child
Author:       DoZenIdeas
Author URI:   https://www.dozenideas.debug/
Version:      0.0.1
Template:     modern
Text Domain:  modern
Domain Path:  /languages
License:      GNU General Public License v3
License URI:  https://www.gnu.org/licenses/gpl-3.0.html
Description:  Edited Modern-Temlate for dozenideas
Tags:         one-column, two-columns, right-sidebar, grid-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-image-header, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, portfolio
Tested up to:  5.4
Requires PHP:  5.6
*/
.intro-title {
  font-weight: 300 !important;
}

.wp-block-button__link {
  background-color: var(--color_accent);
  color: var(--color_accent_text);
  border-radius: 0.5rem;
  width: fit-content;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}

.wp-block-button__link:hover {
  background-color: var(--color_accent_darker);
  background-color: hsl(161, 100%, 15%);
}

.nf-field-element input[type="button"]{
  background-color: var(--color_accent) !important;
  color: var(--color_accent_text) !important;
  border-radius: 0.5rem;
  width: fit-content !important;
  text-decoration: none;
  padding: 0.5rem 1.5rem !important;
}

.nf-field-element input[type="button"]:hover{
  background-color: var(--color_accent_darker) !important;
  background-color: hsl(161, 100%, 15%) !important;
}

div#primary, main article,  img.attachment-large.size-large.wp-post-image {
    border-radius: 10px;
    box-shadow: hsl(161, 10%, 15%)  5px 5px 50px, hsl(161, 10%, 15%)  -3px -3px 30px;

}

/* rundungen für Formular */

input.search-field {
    border-radius: 10px !important;
}

.nf-field-element textarea, .nf-field-element select{
    border-radius: 10px !important;
}

.nf-field-element input[type="text"], .nf-field-element input[type="email"], .nf-field-element input[type="tel"], .nf-error.field-wrap .nf-field-element:after  {
    border-radius: 10px !important;
}

select option {
    border-radius: 10px !important;
}

.nf-field-element div {
    border-radius: 10px !important;
}





#wp-custom-header {
  transform: scaleX(-1);
  filter: grayscale(80%);
  background-size: cover;
}

/* Cookiebot anpassungen */
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
  border: 1px solid #00855b !important;
  color: #00855b !important;
  background-color: #fff !important;
  border-radius: 4px !important;
}

a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  border: 1px solid #00855b !important;
  color: #fff !important;
  background-color: #00855b !important;
  border-radius: 4px !important;
}

div#CybotCookiebotDialogBodyLevelDetailsWrapper {
  border-radius: 0px 4px 4px 0px !important;
}

/* Intro Bild*/
.entry-media .post-thumbnail a  {
  max-height: 250px;
  overflow: hidden;
}

.entry-media .post-thumbnail a img {
  width: 100% !important;
}



/* Tabellenfooter */
tfoot tr td {
  text-align: right !important;
  color: #fff;
  font-weight: 400;
  width: -webkit-fill-available;
  padding-right: 0.5em;
}

tfoot tr td.has-text-align-left strong {
  font-size: 1.5em;
  padding-bottom: 0.1em;
  font-weight: 500;
  border-radius: 0.5em 0.5em 0em 0em;
}

tfoot tr td.has-text-align-left sup {
  line-height: 1.6em;
  margin-bottom: -2em;
  border-radius: 0 0 1em 1em;
  border-top: 0px;
  padding-top: 1em;
}

tfoot tr td strong, tfoot tr td sup {
  border-color: var(--color_accent);
  display: inline-block;
  width: inherit;
  padding: 0.25em 5% 0.5em 5%;
  border: 3px solid;
  color: var(--color_accent);
}

tfoot {
  border-top-width: 0px;
}

table.has-fixed-layout {
  margin-bottom: 0px !important;
}

figure.wp-block-table.is-style-stripes {
  border-radius: 0.5em;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  border-radius: 5em !important;
}

/* Seitenspezifische CSS-Anpassungen */
.page-id-43 .entry-header {
  display: none;
}
